@import './src/styles/global.css';
@import './src/styles/header.css';
@import './src/styles/main-panel.css';
@import './src/styles/slide.css';
@import './src/styles/form.css';
@import './src/styles/footer.css';
@import './src/styles/validation-modal.css';