header {
    width: 100vw;
    background: #363636;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    color: #FFF;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}