.main-panel {
    background: url('../img/Imagem 2.png') no-repeat padding-box;
    width: 100vw;
    height: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-panel .main-card-container {
    background-image: url('../img/Imagem card.svg');
    height: 1092px;
}

.main-panel .main-card-container .main-card {
    height: 1080px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-panel .main-card-container h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 20px 0 0 20px;
    align-self: flex-start;
}
.main-panel .main-card-container .main-card .card{
    margin: 0 auto;
    padding: 20px 16px 20px 26px;
}

.main-panel .main-card-container .feather {
    position: absolute;
}

.main-panel .main-card-container .feather:nth-last-of-type(1){
    top: 480px;
    right: -100px;
}

.main-panel .main-card-container .feather:nth-last-of-type(2){
    top: 525px;
    left: -5px;
}
.main-panel .main-card-container .feather:nth-last-of-type(3){
    top: 300px;
    right: -30px;
}
.main-panel .main-card-container .feather:nth-last-of-type(4){
    top: 380px;
    left: -40px;
}

.main-panel .main-card-container .description {
    font-family: 'Open Sans', serif;
    color: #F0F0F2;
    text-align: center;
    font-size: 20px;
    width: 270px;
    margin: 0 auto;

}