@media (max-width: 1680px) {
    /* Main Panel */
    .main-panel {
        height: 860px;
        background-size: cover;
    }

    .main-panel .main-card {
        height: 860px;
    }

    .main-panel .main-card-container{
        height: 866px;
        margin-top: -6px;
    }

    .main-panel .main-card-container .main-card .card {
        width: 480px;
        height: auto;
    }

    .main-panel .main-card-container .feather:nth-last-of-type(1){
        top: 410px;
        right: -100px;
        
    }
    
    .main-panel .main-card-container .feather:nth-last-of-type(2){
        top: 450px;
        left: -5px;
        
    }

    .main-panel .main-card-container .feather:nth-last-of-type(4){
        top: 340px;
        left: -40px;
    }

    .main-panel .main-card-container .description {
        font-size: 18px;
    }


    /* Carousel */
    .slide ul {
        max-width: 1100px;
    }

    .slide ul li {
        margin: 30px;
    }

    .slide ul li .img-container {
        width: 260px;
        height: 325px;  
    }

    .slide ul li .img-container img {
        top: -26px;
    }

    .slide ul li p {
        font-size: 16px;
        width: 240px;
        margin: -30px auto 40px;
    }

    .slide .prev {
        margin-left: 80px;
        margin-right: -80px;
    }

    .slide .next {
        margin-left: -80px;
        margin-right: 80px;
    }

    /* Form */
    .form {
        min-height: 600px;
    }

    .form .container {
        height: 700px;
        top: -50px;
    }

    .form .container h2 {
        padding: 40px 0 20px 0;
    }

    .form .container p {
        margin: 20px auto 20px;
    }

    /* Footer */
    footer {
        height: 280px
    }
}



@media (max-width: 1380px) {

    /* Header */
    header img {
        width: 80px;
        height: auto;
    }

    header h1 {
        font-size: 26px;
    }

    /* Main Panel */
    .main-panel {
        height: 690px;
        background-size: cover;
    }

    .main-panel .main-card {
        height: 690px;
    }

    .main-panel .main-card-container{
        height: 696px;
        margin-top: -6px;
    }

    .main-panel .main-card-container .main-card .card {
        width: 380px;
        height: auto;
    }

    .main-panel .main-card-container h2 {
        font-size: 13px;
    }

    .main-panel .main-card-container .feather:nth-last-of-type(1){
        top: 350px;
        right: -80px;
        width: 140px;
        height: auto;
    }
    
    .main-panel .main-card-container .feather:nth-last-of-type(2){
        top: 370px;
        left: 0px;
        width: 90px;
        height: auto;
    }

    .main-panel .main-card-container .feather:nth-last-of-type(3){
        top: 260px;
        right: -30px;
        width: 160px;
        height: auto;
    }

    .main-panel .main-card-container .feather:nth-last-of-type(4){
        top: 280px;
        left: -40px;
        width: 120px;
        height: auto;
    }

    .main-panel .main-card-container .description {
        font-size: 15px;
    }

    /* Carousel */
    .slide ul {
        max-width: 900px;
    }

    .slide ul li {
        margin: 20px;

    }

    .slide ul li .img-container {
        width: 230px;
        height: 285px;  
    }

    .slide ul li p {
        font-size: 13px;
        width: 200px;
        margin: -50px auto 40px;
    }

    .slide .prev {
        margin-left: 20px;
        margin-right: -80px;
    }

    .slide .next {
        margin-left: -100px;
        margin-right: 40px;
    }

}


@media (max-width: 1080px) {


    /* Carousel */
    .slide ul {
        max-width: 600px;
    }

    .slide ul li {
        width: 220px;
        margin: 50px;
    }

    .slide ul li .img-container {
        width: 460px;
        height: 570px;  
    }

    .slide ul li .img-container img {
        top: -45px;
    }

    .slide ul li p {
        font-size: 18px;
        width: 300px;
        margin: -50px auto 40px;
    }

    .slide .prev {
        margin-left: 20px;
        margin-right: -80px;
    }
    
    .slide .next {
        margin-left: -80px;
        margin-right: 40px;
    }


    /* Form */

    .form .container {
        padding: 0 30px;
        width: 60%;
    }

    .form .container h2 {
        font-size: 28px;
        padding: 20px 0 10px 0;
    }

    .form .container .inputs1 {
        flex-direction: column;
    }

    .form .container p {
        font-size: 16px;
        margin: 20px auto 20px;
    }

    .form .container form textarea {
        height: 240px;
    }


    /* Footer */
    footer {
        height: 140px;
    }
    
}