.validation-modal {
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', serif;
}

.validation-modal.active {
    display: flex;
}

.validation-modal .modal {
    background: #FFFFFF;
    padding: 40px;
    border: 10px solid #63C7A9;
    box-shadow: 0 0 0 10px #FFFFFF;
    position: relative;
}

.validation-modal #close {
    position: absolute;
    top: -30px;
    right: -30px;
    height: 50px;
    width: 50px;
    border: 4px solid #FFFFFF;
    border-radius: 50%;
    background: #E54;
    box-shadow: 0 4px 4px rgba(0,0,0,0.3);
    font-size: 1.2em;
    font-weight: bold;
    color: #FFFFFF;
    outline: none;
    cursor: pointer;
}